[Unit]
Description=WebSocket to VNC proxy (websockify)

[Service]
Type=simple
ExecStart=/usr/bin/websockify localhost:6081 localhost:5900
Restart=on-failure
RestartSec=2
